body {
	color: #808080;
	font-family: "Courier", sans-serif;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

canvas {
	/*border-style: 	solid;*/
	/*border-color: #ffffff;*/
	/*border-width: 1px;*/
	image-rendering: pixelated;
}